<%= render 'shared/page_title', title: "#{@ingredient.name}" %>
<% if @ingredient.recipes.count != 0 %>
  <h4 align="center">Recipe's containing <%= @ingredient.name %></h4>
  <div align="center">
    <%= will_paginate @ingredient_recipes %>
  </div>
  <%= render 'recipes/recipe', obj: @ingredient_recipes %>
  <div align="center">
    <%= will_paginate @ingredient_recipes %>
  </div>
<% else %>
  <h4 align="center">No recipes yet!</h4>
<% end %>
<% if @recipe.comments != 0 %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Prior Comments: </h3>
        <div id="messages">
          <%= render partial: 'comments/comments', object: @comments %>
        </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>No Comments Yet!</h3>
    </div>
  </div>
<% end %>